@import '@shared/styles';

.ui-button {
  border-radius: 8px;
  min-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;

  &.ant-btn-primary {
    color: $black !important;
  }
  &.ant-btn-default {
    background-color: $grey;
    color: $black !important;
    &:hover,
    &:focus,
    &:active {
      background-color: $grey !important;
      color: $black;
      border-color: transparent !important;
    }
  }
}
