.search-detail {
  &-fullscreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &-image {
    height: calc(100vh - 70px) !important;
  }
}
