@import '../../shared/styles/index.scss';

.search-layout-content {
  background-color: $grey-light;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 40px 40px 0 0;
  margin-top: 24px;
  padding: 24px 3%;
}

.upload-hint {
  color: $black-light;
  margin-top: 32px;
}

@media (max-width: 768px) {
  .search-layout-content {
    border-radius: 20px 20px 0 0;
  }
  .upload-hint {
    margin-top: 4px;
    p {
      margin: 2px;
    }
  }
}
